:root {
  /* BASIC COLORS */
  --clr-brown: hsl(40, 2%, 37%);
  --clr-dark-cream: hsl(26, 8%, 82%);
  --clr-gold: hsl(41, 49%, 68%);
  --clr-text: hsl(270, 3%, 29%);
  --clr-white: hsl(240, 14%, 97%);
  --clr-white: hsl(0, 0%, 100%);

  /* FONT FOR HEADINGS */
  --fnf-headings: "Playfair Display", serif;

  /* FONT FOR PARAGRAPHS */
  --fnf-para: "Poppins", sans-serif;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
}
html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}
body {
  background-color: var(--clr-white);
  color: var(--clr-text);
  font-family: var(--fnf-para);
  font-size: 62.5%;
  height: 100%;
}
a {
  color: var(--clr-text);
}
p,
.subnav__list .drop__list--items,
.sub__list--items,
.card__list--items,
.adress--title,
.page__footer li,
.read__more {
  font-size: clamp(0.95rem, 3vw, 0.96rem);
  font-family: var(--fnf-para);
  font-style: normal;
  font-weight: 400;
}
img {
  width: 100%;
  object-fit: contain;
}

.drop__down--menu {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  height: 0%;
  width: 0%;
  background-color: var(--clr-white);
  display: none;
  flex-direction: column;
}
.colse__btn--wrapper {
  display: flex;
  justify-content: flex-start;
  padding: 1rem 1.8rem;
}
.close__btn {
  padding-top: 0.5rem;
  width: 2rem;
  margin-left: auto;
}

.visible {
  height: 100vh;
  width: 100vw;
  display: block;
}
/* PAGE WRAPPER */
.page__wrapper {
  margin: 0 auto;
  max-width: 1400px;
  overflow: hidden;
}
/* NAVIGATION SECTION */
.main__navigation {
  background-color: var(--clr-white);
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 0 1em;
  position: sticky;
  top: 0px;
  margin: 0 auto;
  max-width: 1400px;
  z-index: 10;

  -webkit-box-shadow: 0px 5px 23px -20px rgb(66 68 90);
  -moz-box-shadow: 0px 5px 23px -20px rgba(66, 68, 90, 1);
  box-shadow: 0px 5px 23px -20px rgb(66 68 90);
}
.main__navigation .company--name {
  color: var(--clr-gold);
  font-family: var(--fnf-headings);
  font-size: clamp(2.5rem, 13vw, 3.5rem);
  font-weight: 400;
}
.colse__btn--wrapper .company--name {
  color: var(--clr-text);
}
.navigation__list {
  display: none;
}
.drop__navigation__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 2rem;
}
.drop__list--items {
  text-align: center;
}
.list--items {
  display: flex;
}
.list--items a,
.drop__list--items a {
  color: var(--clr-text);
  font-size: clamp(0.95rem, 3vw, 1rem);
  display: block;
  position: relative;
  padding: 0 1rem;
  display: flex;
  align-items: center;

  transition: background-color 250ms ease-in-out;
}
.drop__list--items a {
  padding: 2rem;
  justify-content: center;
}

.list--items a:hover,
.list--items a:focus {
  background-color: var(--clr-gold);
  color: var(--clr-white);
}

.burger__menu {
  width: 1.5rem;
  margin-right: 0.3rem;
}
/* HEADER SECTION */

.page__header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  align-items: start;
  grid-template-areas:
    "section-one"
    "section-two";
  position: relative;
  max-width: 1400px;
  margin: 0 auto;
  overflow: hidden;
}

.header__section--one {
  background-image: url(./images/beauty.webp);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 1.5rem;
  min-height: 450px;
  min-width: min-content;
  grid-area: section-one;
}

.header__section--two {
  background-color: var(--clr-dark-cream);
  grid-area: section-two;
  padding: 1em 2em;
}
.company--offer {
  font-family: var(--fnf-headings);
  font-size: clamp(2rem, 5vw, 2.5rem);
  margin-bottom: 0.5rem;
}
.offer--description {
  padding-bottom: 1rem;
}

/* MAIN CONTENT */
.main__content {
  padding: 0 1rem;
}
.content--title {
  font-size: clamp(1.85rem, -1.5rem + 10vw, 2.2rem);
  font-family: var(--fnf-headings);
  padding: 0.2em;
  font-weight: 400;
  position: relative;
  text-align: center;
  margin: 1.1rem 0;
}
.main__content .company--name {
  display: inline-block;
  font-family: var(--fnf-headings);
  font-weight: 700;
}
.content--title::before {
  content: "";
  display: block;
  position: absolute;
}

.content--title::before {
  background-color: var(--clr-text);
  width: 150%;
  height: 1px;
  transform: translateX(-1em);
  bottom: -1rem;
}
.subnav__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.subnav__list--items {
  display: flex;
}
.subnav__list .subnav__list--items a {
  text-transform: capitalize;
  padding: 1em 0.5em;
  font-size: clamp(0.95rem, 3vw, 0.85rem);
}
.grid--about,
.grid--info {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  justify-items: center;
}
.card {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "header"
    "body";
  margin: 2rem 0;
  max-width: 350px;
}

.card__header {
  grid-area: header;
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card--image {
  width: 7rem;
}
.offer--image {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 1 /1;
}
.card--image.clipX {
  width: 6.2rem;
}
.card__body {
  grid-area: body;
}

.card--title {
  font-size: clamp(1.25rem, -1.5rem + 3vw, 1.45rem);
  margin-bottom: 0.5rem;
}
.card__list {
  list-style-image: url(./images/check-solid.svg);
  list-style-position: inside;
}
.card__list.cross {
  list-style-image: url(./images/xmark-solid.svg);
}
.card--title.center {
  text-align: center;
}
.price__section {
  margin: 3rem 0;
}
.price--wrapper {
  margin: 3rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

th {
  padding: 1rem;
}
tr:nth-child(odd) {
  background-color: var(--clr-brown);
  color: var(--clr-white);
}
td {
  font-size: clamp(0.95rem, 3vw, 0.96rem);
  padding: 0.5em;
}

.offer--wrapper {
  background-color: var(--clr-white);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  margin: 3rem 0;
  place-content: center;
  justify-items: center;
}

.offer__card {
  display: flex;
  background-color: var(--clr-white);
  flex-direction: column;
  max-width: 320px;
  flex-wrap: wrap;
  margin: 1rem 1.5rem;
  transition: all 200ms ease-in-out;
}
.offer__card:hover,
.offer__card:focus {
  transform: perspective(600px) scale(1.05);
  perspective-origin: center;
}

.offer--image {
  border-radius: 1rem;
}
.read__more--wrapper {
  display: flex;
  justify-content: flex-start;

  padding: 1rem 0;
}
.read__more {
  background-color: var(--clr-brown);
  color: var(--clr-white);
  padding: 0.7em 1em;
}
/* FOOTER */

.page__footer,
.author {
  border: 2px solid var(--clr-gold);
  margin: 0 0.5rem;
}
.page__footer {
  background-color: var(--clr-white);
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  border-bottom: 0;
  display: grid;
  gap: 1rem;
  padding: 1.25rem 1rem;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
}

.footer__card {
  display: flex;
  margin: 1rem 0;
  gap: 0.5rem;
}
.location__image--wrapper {
  display: flex;
  align-items: flex-start;
}
.footer__card--image {
  width: 4rem;
}
.footer__card--image {
  display: flex;
  justify-content: center;
}
.footer__card--image.hands {
  padding-inline: 0.5rem;
}
.footer--title-section {
  font-size: clamp(1rem, -1.5rem + 6vw, 1.1rem);
}
.social__link--wrapper {
  display: flex;
  gap: 1rem;
  margin: 0.2rem 1rem;
}
.social--icon {
  width: 2rem;
}
.author {
  border-top: none;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  padding: 1.2rem;
  text-align: center;
}

@media screen and (min-width: 410px) {
  .subnav__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 660px) {
  .page__header {
    background-image: url(./images/beauty.webp);
    background-color: var(--clr-dark-cream);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 20%;
    grid-template-columns: 30% 70%;
    grid-template-rows: repeat(2, 1fr);
    align-items: start;
    grid-template-areas:
      "section-two  section-one "
      "section-two  section-one ";

    min-height: 80vh;
    max-height: 80vh;
  }
  .header__section--one {
    background-image: none;
    justify-content: start;
  }
  .header__section--two {
    grid-area: section-two;
    padding: 2em;
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(255, 255, 255, 0.863);
    border-radius: 0.4em;

    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media screen and (min-width: 720px) {
  .card {
    display: grid;
    grid-template-columns: 20em 1fr;
    grid-template-areas: "header body";
    justify-items: center;
    margin: 2rem 0;
    max-width: max-content;
  }

  .grid--info {
    justify-items: start;
    align-items: center;
  }
  .grid--info .card {
    grid-template-areas: "header body";
  }
  .card--title.center {
    text-align: left;
  }
  .price--wrapper {
    flex-direction: row;
  }
  .price--wrapper > * {
    flex: 1;
    align-items: center;
    justify-content: center;
  }

  .footer__card--image .hands {
    display: block;
  }
  .offer--wrapper {
    background-color: var(--clr-white);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  }
}

@media screen and (min-width: 920px) {
  .page__header {
    background-position: calc(10% + 5em);
  }
  .main__content {
    padding: 0;
  }
  .main__navigation {
    padding: 0;
    position: relative;
  }
  .navigation__list {
    display: flex;
  }
  .burger__menu {
    display: none;
  }

  .offer--list {
    flex-direction: row;
    border-radius: 1rem;
  }
}
@media screen and (min-width: 1100px) {
  .page__header {
    background-position: calc(10% + 15em);
  }
}
@media screen and (min-width: 1152px) {
  .grid--info {
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
  }
}
